.auth-container{
    display: flex;
    justify-content: center;
    height: 100%;
    width:100%;
}

.auth-card{
    background: white;
    padding: 50px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 400px;
}

.auth-title{
    font-size: 30px;
    margin-bottom: 12px;
    color: black;
}
.auth-subtitle{
    font-size:18px;
    color: grey;
    margin-bottom: 32px;
    line-height: 1.5;

}

.auth-button{
    width: 100%;
    padding: 12px 24px;
    background-color: blue;
    color: white;
    border: black;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.auth-button:hover{
    background-color:rgb(58, 58, 215);
}

