.auth-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.auth-card {
  padding: 50px;
  padding-top: 20vh;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
}

.auth-title {
  font-size: 30px;
  margin-bottom: 12px;
  color: black;
}
.auth-subtitle {
  font-size: 18px;
  color: grey;
  margin-bottom: 32px;
  line-height: 1.5;
}

.auth-button {
  width: 100%;
  padding: 12px 24px;
  background-color: rgb(22, 162, 162);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.auth-button:hover {
  background-color: rgb(51, 198, 198);
}

.mock {
  margin: 10px 0;
  padding: 10px 14px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.mock:hover {
  background-color: darkgrey;
}
